<section class="profile-header text-center">
    <div class="container-fluid">
        <div class="mb-4 profile-header-content">
            <h2>CONNECT WITH <span>ARTISTS</span></h2>
            <h2>FROM AROUND IRELAND</h2>
        </div>

        <div class="profile-section-search align-self-center">
            <form class="form" action="#" method="get">
                <div class="my-3">
                    <label for="formInput#search"></label>
                    <input class="input input--text" id="formInput#search" type="text" name="text"
                        placeholder="Search by artist name" />
                </div>

                <button class="btn btn-secondary btn-lg" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>