{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="artist-profile">
    <div class="container text-center">
        <div class="row justify-content-center bg-container">
            <div class="col-10">
                <img src="{% static 'images/profileBg.webp' %}" alt="abstract acrylic painting" class="profile-bg">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <img src="{{profile.profile_image.url}}" alt="Artist {{profile.name}} photo" class="artist-img">
                <a href="{% url 'edit-account' %}"><button type="button" class="btn btn-primary btn-edit">Edit
                        Account</button></a>
            </div>
        </div>
    </div>
    <div class="container text-center account-container">

        <div class="row justify-content-center">
            <div class="col-8">
                <h2>{{ profile.name }}'s Account</h2>
                <p>{{ profile.short_intro }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <h4>
                    {% if profile.social_facebook %}
                    <a href="{{profile.social_facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                    {% endif %}

                    {% if profile.social_website %}
                    <a href="{{profile.social_website}}" target="_blank"><i class="fas fa-globe"></i></a>
                    {% endif %}

                    {% if profile.social_instagram %}
                    <a href="{{profile.social_instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                    {% endif %}

                </h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 align-self-start ms-6">
                <h4>About Me</h4>
            </div>
            <div class="col-6 text-start">
                <p>{{profile.bio}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 align-self-start ms-6">
                <h4>Address</h4>
            </div>
            <div class="col-6 text-start">
                <p>{{profile.location}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 align-self-start ms-6">
                <h4>Email</h4>
            </div>
            <div class="col-6 text-start">
                <p>{{profile.email}}</p>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-10 text-center ">
                <h2 class="my-4">My Artworks</h2>
            </div>
        </div>
        <table class="table">
            {% for artwork in artworks %}
            <div class="row justify-content-center">
                <div class="col-6 arwork-profile-container text-center">
                    <tr>
                        <td>
                            <a href="{% url 'artwork' artwork.id %}">
                                <img src="{{ artwork.featured_image.url }}" class="artwork-thumbnail"
                                    alt="artwork thumbnail">
                            </a>
                        </td>
                        <td>
                            <h2 class="artwork-title"><a href="{% url 'artwork' artwork.id %}">{{artwork.title}}</a>
                            </h2>
                            <p>{{ artwork.description | slice:"150" }}</p>
                        </td>
                        <td>
                            <a href="{% url 'update-artwork' artwork.id %}"><button type="button"
                                    class="btn btn-primary"><i class="far fa-edit"></i>
                                    Edit</button></a>
                            <a href="{% url 'delete-artwork' artwork.id %}"><button type="button"
                                    class="btn btn-danger"><i class="fas fa-trash-alt"></i>
                                    Delete</button></a>
                        </td>
                    </tr>
                </div>
            </div>
            {% endfor %}
        </table>

    </div>
</section>
{% endblock content %}