{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="artist-profile">
    <div class="container text-center">
        <div class="row justify-content-center bg-container">
            <div class="col-10">
                <img src="{% static 'images/profileBg.webp' %}" alt="abstract acrylic painting" class="profile-bg">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <img src="{{profile.profile_image.url}}" alt="Artist {{profile.name}} photo" class="artist-img">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <h2>{{profile.name}}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <h4>
                    {% if profile.social_facebook %}
                    <a href="{{profile.social_facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                    {% endif %}

                    {% if profile.social_website %}
                    <a href="{{profile.social_website}}" target="_blank"><i class="fas fa-globe"></i></a>
                    {% endif %}

                    {% if profile.social_instagram %}
                    <a href="{{profile.social_instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                    {% endif %}

                </h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 align-self-start ms-6">
                <h4>About Me</h4>
            </div>
            <div class="col-6 text-start">
                <p>{{profile.bio}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 align-self-start ms-6">
                <h4>Address</h4>
            </div>
            <div class="col-6 text-start">
                <p>{{profile.location}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-center mt-5">
                <h1>Listed Artworks</h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            {% for artwork in profile.artworks_set.all %}
            <!-- Card -->
            <div class="col-10 col-md-6 col-xl-3 mb-4">
                <a href=" {% url 'artwork' artwork.id %}" class="card-link">
                    <div class="card">
                        {% if "placeholder" in artwork.featured_image.url %}
                        <img src="{% static 'images/default-artwork.webp' %}" class="card-img-top artwork-image"
                            alt="placeholder photo">
                        {% else %}
                        <img src="{{ artwork.featured_image.url }}" class="card-img-top artwork-image"
                            alt="{{artwork.title}}">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title text-truncate">{{artwork.title}}</h4>
                            <h5 class="card-subtitle mb-2 text-body-secondary">By {{artwork.profile_owner.name}}
                            </h5>
                            <div class="row py-2">
                                <div class="col">
                                    <i class="fas fa-map-marker-alt p-1"></i>{{artwork.town|capfirst}},
                                    {{artwork.county|capfirst}}
                                </div>
                            </div>
                            <div class="row">
                                <h5><i class="fas fa-euro-sign p-1"></i>{{ artwork.price }}</h5>
                            </div>
                            <div class="row">
                                {% for tag in artwork.tags.all %}
                                <div class="col-3">
                                    <span class="badge text-bg-success p-2 ">
                                        <small>{{tag}}</small>
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}