{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Profile Header -->
{% include 'partials/profiles-header.html' %}

<section>
    <!-- Artist Cards -->
    <div class="container py-5 my-5">
        <div class="row g-4 mt-3 text-center">
            <h5>Discover the incredible talents behind the art.</h5>
            {% for profile in profiles %}
            <div class="col-md-4">
                <a href="{% url 'artist-profile' profile.id %}" class="text-decoration-none text-dark">
                    <div class="artist-card p-3 border rounded shadow-sm">
                        <img src="{{ profile.profile_image.url }}" alt="Artist {{ profile.name }}">
                        <h5>{{ profile.name }}</h5>
                        <p class="text-muted">{{ profile.short_intro }}</p>
                        <p class="text-muted"><small>{{ profile.location }}</small></p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
</section>
{% endblock %}