{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Profile Header -->
{% include 'partials/profiles-header.html' %}

<!-- Search Result: Artists -->
<section class="artists">
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            {% for profile in profiles %}
            <!-- Profile Card-->
            <div class="col-10 col-md-6 col-xl-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0 justify-content-around">
                        <div class="col-md-4">
                            <img src="{{profile.profile_image.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{profile.name}}</h5>
                                <p class="card-text">{{profile.short_intro|slice:"60"}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text p-2 m-2">
                                {{profile.bio|slice:"152"}}
                            </p>
                        </div>
                    </div>
                    <div class="row align-self-center">
                        <div class="col">
                            <button type="button" class="btn btn-success mb-4">View Profile</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock content %}